.header-news{
    height: 80px;
    background: #f44336;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}
.container-fluid{
    border-top:1px solid #000 ;
}
.header-news h1{
    margin-top: 0;
    line-height: 80px;
}
.section-news{
    margin-top: 80px;
}
.icon-list{
   height: 100%;
}
.icon-item {
    padding: 10px 0;
    margin-bottom: 60px;
    text-align: center;

}
.icon-item i{
    font-size: 40px;
    color: var(--black-color);
    opacity: 0.7;
}

.news-today-item{
    position: relative;
    padding:8px 0 ;
}
.news-today-img{
    width: 25%;
    height: 25%;
}

.news-today-img:hover{
    opacity: 0.8;
}
.news-today-info p{
    text-align: justify;
    color: #000;
}
.news-today-info p:hover{
    color: #f44336;
}
.news-today-info{
position: absolute;
top: 0;
left: 200px;
padding: 8px 0;
}


.news-hot-item{
text-align: center;
}

.news-hot-img{
    width: 100%;
}
.news-hot-img:hover{
    opacity: 0.8;
}

.news-hot-info p:hover{
color: #f44336;
}
.news-hot-info p{
    text-align: justify;
    color: #000;
}
h4{
    font-weight: 900;
    text-transform: uppercase;
}
.news-main h4{
    margin-bottom: 0;
    margin-left: 38px;
}
.dt-img{
    width: 100%;
}
.dt-text{
    text-align: justify;
}
.footer-list{
    margin-top: 50px;
    line-height: 30px;
    color: var(--white-color);
}
.footer-list li{
    font-size: 16px;

}
.footer-list i{
font-size: 16px;
padding: 6px;
min-width: 20px;
}
.fouder-item i{
font-size: 16px;
padding: 6px;
min-width: 20px;

}
.fouder-item li{
font-size: 16px;
margin-left: 20px;

}
.fouder-item h4{
    margin-left: 20px;
}
.fouder-item{
    margin-top: 20px;
    line-height: 30px;
    color: var(--white-color);
}
@media (min-width:1200px) {
    .news-today-info{
        left: 220px;
    }
}
