body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--black-color);
    line-height: 1.7em;

}
html{
    scroll-behavior: smooth;
}
.header-main{
    margin-bottom: 70px;
}
.navbar {
min-height: 60px;
width: 100%;
margin: auto;
background:#fc5c65 ;
margin-bottom: 40px;
}

.navbar li{
    min-width: 80px;
    
}
.navbar a{
    color: var(--white-color)!important;
    font-size: 16px;
    line-height: 27px!important;
    font-weight: 700;

    
}
.navbar form{
    margin-top: 12px;

}
.navbar input[type="search"]{
    width: 240px;
}
.navbar-default .navbar-nav>li>a:hover{
    background: #fff!important;
    padding-bottom: 18px!important;
    color: var(--pink-color)!important;


}
.navbar-nav>li>.dropdown-menu{
    background: var(--white-color);
    margin-right: -100px;
}
.megamenu{
    width: 800px;
    overflow: hidden;
    padding: 15px!important;
}
.megamenuthumnail img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.megamenuthumnail a{
    font-size: 14px;
    color: var(--black-color)!important;
}
.megamenuthumnail a:hover{
    color: var(--pink-color)!important;
}
.title{
    font-weight: bold;
    border-bottom: 1px solid #ff3366;
}
.title:hover{
    color: var(--pink-color)!important;
}


.container{
    padding-left: 0;
}
.main-nav{
    background: rgba(160,193,199,1.00);
    width: 270px;
    min-height: 500px;
}
.main-nav h3{
    background: #B81D22;
    padding: 15px;
    color: var(--white-color);
    border:2px solid #590f0f;
    text-transform: uppercase;
}
.main-nav a{
    color: var(--font-color);
    letter-spacing: 0.1em;
    font-weight: 500;
    display: block;
    padding: 8px 0 8px 20px;
    border-bottom: 1px solid #ccc;
}
.main-nav a:hover{
    background: rgb(118, 166, 174,1.00);
}

.main-nav-ul ul{
display: none;
}

.has-sub:hover ul{
    display: block;
    background: rgba(100,193,199,1.00);
}
ul{
    padding: 0;
}
.block-main-slider{
    padding-left: 0;
    padding-right: 0;
}
.carousel{
    margin-top: 0!important;
    margin-left: 0!important;
}

.carousel img{
     width: 100%;
    max-height: 500px;
    min-width: 100%;
    display: block;
}
.carousel-caption{
    text-shadow: 4px 4px 4px #000000;
}
.section-services{
    margin-top: 40px;
    margin-bottom: 30px;
}
.section-services h3{
    font-family: 'lato-Regular';
}
.section-services .container{
background: #f6f6f6;
}
.section-services .service-item{
    padding: 0px 0px 10px 15px ;
    border-right: 1px solid #ccc  ;
}
.section-services .service-item:last-child{
    border-right: none;
}
.section-services .icon{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 30px;
}
.section-services .info{
    padding: 2px 0 0 15px;
    margin-left: 40px;
}
.section-services .icon i{
    width: 100%;
    height: 100%;
    padding-left: 6px;   
}
.section-services a:hover{
    color: var(--pink-color);
}
.section-services a{
    color:#666;
}

.section-list-brand h3.like,
.section-hot-product h3.like{
font-size: 24px;
color: var(--black-color);
font-weight: 900;
min-height:36px ;
font-family: 'lato-Regular';
}
.section-hot-product a.like-name{
line-height: 30px;
display: block;
color: #000;
text-transform: uppercase;
font-size: 14px;
}
.section-list-brand .container,
.section-hot-product .container{
    padding-left: 0;
    padding-right: 0px;
}
.section-list-brand .img-flexisel,
.section-hot-product .img-flexisel{
    width: 170px;
    height: 250px;
    border-radius:20% ;

}
.section-list-brand .nbs-flexisel-container,
.section-hot-product .nbs-flexisel-container{
    position: relative;
    max-width: 100%;
    background:#d1d8e0;
    padding-top: 30px;
}
.section-list-brand .nbs-flexisel-ul,
.section-hot-product .nbs-flexisel-ul{
    position: relative;
    width: 9999px;
    margin: 0px ;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.section-list-brand .nbs-flexisel-inner,
.section-hot-product .nbs-flexisel-inner{
    overflow: hidden;
    margin: 0 auto;

}
.section-list-brand .nbs-flexisel-item,
.section-hot-product .nbs-flexisel-item{
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;

}
.section-list-brand .nbs-flexisel-item>img,
.section-hot-product .nbs-flexisel-item>img{
    cursor: pointer;
    position: relative;
    margin: 10px 0 10px 0;
    max-width: 350px;
    min-height: 500px;
    display: inline-block;
}
.section-list-brand .nbs-flexisel-nav-left ,.nbs-flexisel-nav-righ,
.section-hot-product .nbs-flexisel-nav-left , .nbs-flexisel-nav-right{
width: 45px;
height: 45px;
cursor: pointer;
z-index: 100;
margin-top: -1em;
}
#sliderHotProduct .btnAddToCart{
    background: crimson;
    color:var(--white-color);
}



.section-menu-second{
    padding-top: 50px;
}
.section-menu-second .container{
    padding-left: 0px;
    padding-right: 0px;
    min-width: 80px;
}
.section-menu-second .navbar{
   border: 2px solid #e7e7e7;
}
.section-menu-second .navbar .nav-tabs li{
display: inline-block;
border:1px solid #ccc ;
width: calc(100%/4);
min-height: 60px;
}
.section-menu-second .navbar .nav-tabs li:last-child{
    border-right: none;
}
.section-menu-second .navbar .nav-tabs a{
    margin-right: 0px;
    padding-bottom: 20px;
}
.section-menu-second .navbar .nav-tabs li a:hover{
    color: var(--pink-color)!important;
    opacity: 0.8;
}
.section-new-product, .section-new-product{
margin-top: 0px;

}
.section-new-product h3{
    font-family: 'lato-Regular';
}
.section-for-kid .container,
.section-Special-product .container, .section-hot-product .container,
.section-as-product .container,
.section-new-product .container, .section-all-product .container{
    background: #fa787f;
}
.section-body h3{
    padding-top: 30px;
    font-weight: 700;
    color: var(--white-color);
}
.section-body .thumnail{
padding-top: 10px;
}
.thumnail img{
    min-width: 220px;
    height: 260px;
}
.thumnail{
    margin-left:22px;
    transition-duration: .3s;
transition-property: transform;
transition-timing-function: ease-out;
margin-bottom: 20px;
}
.thumnail:hover{
    opacity: 0.7;
    transform: translateY(-20px);
}
.thumnail:hover .inew{
  
    display: block;
}
.caption{
    margin-top: 10px;
}
.thumnail .caption .proName{
font-size: 14px;
line-height: 17px;
font-family: sans-serif;
color: var(--font-color);
font-weight: 600;
margin-bottom: 4px;
}
.thumnail .caption .prodPrice{
font-size: 16px;
line-height: 17px;
font-family: sans-serif;
font-weight: 600;
}
.thumnail .caption .prodOfPrice{
margin-right: 5px;
font-size: 16px;
font-family: sans-serif;
font-weight: 400;
text-decoration: line-through!important;
color: gray;  
}
.thumnail .caption .proPriceDiscount{
    margin-right: 10px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    color: deeppink;
}
.inew{
    background:rgb(255, 99, 71);
    display: block;
    text-transform: uppercase;
    position: absolute;
    width: 93%;
    height: 45px;
    top: 100px;
    padding-top: 10px;
    text-align: center;
    color: var(--black-color);
    font-weight: 800;
    display: none;
}
.section-list-brand .container{
    margin-top: 10px;
}

#flexiselBrand img{
    height: 200px;
    width: 220px;
    margin-bottom: 20px;
    padding: 0 10px;
} 


.section-footer{
    margin-top: 40px;

}
.news-letter{
    background-color: #ff6666;
    padding: 35px 0px;
}



.news-letter .join h6{
    font-size: 22px;
    font-weight: 700;
    color: var(--white-color);
    letter-spacing: 1px;
    font-family: 'lato-Regular';
    padding: 0;
}
.footer-section{
    margin-top: 100px;
    color:var(--font-color);
}
.footer-section{
    text-align: center;
}
.footer-section a:hover{
    cursor: pointer;
    opacity: 0.8;
}
.footer-section a{
    color:var(--font-color);
    font-size: 50px;
    padding: 0 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer-section h4{
    font-size: 50px;
    font-weight: 400;
    color: #000;
}
.text-footer{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 400;
}

.btn-primary{
    float: right;
}
.about-text{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.heading-about{
font-weight: 600;
letter-spacing: 4px;
font-family: 'lato-Regular';

}
.text-discription{
opacity: 0.9;
font-style: italic;
}
.text-ct{
text-align: justify;
}
.footer .container-fluid{
    background: #ccc;
}

.footer-box-heading{
    font-size: 30px;
    font-weight: 500;
    font-family: 'lato-Regular';

}
.footer-box-child{
   background-color: #fc5c65; 
   width: 90%;
   min-height: 300px;
   margin-bottom: 100px;
   margin-left:15px;
   border-radius: 4%;
}
.footer-box-child p,
.footer-box-child span{
    color: var(--white-color);
}

.event-list h4{
    border-bottom: 2px solid #ddd;
    font-weight: 700;
    font-size: 26px;
    color: #666;
}
.event-list p{
    opacity: 0.8;
}
.event-list span{
    opacity: 0.8;
}

.carrer-list li{
    font-size: 20px;
    line-height: 3;
    border-bottom:2px solid #ddd ;
}
.carrer-list i{
    font-size: 24px;
    color:var(--font-color);
    
}
.carrer-list span{
    margin-left: 4px;
    opacity: 0.8;
}

.follow-list li{
    display: inline-block;
    font-size: 26px;
    padding: 15px;
}

.contact-list li{
    margin-bottom: 32px;
    margin-top: 16px;
}
.contact-list li span{
    font-size: 18px;
    margin-left: 4px;
}
.icon-user{
    font-size: 24px;
    color: var(--font-color);
}
.login-box{
position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  padding: 40px 140px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.login-box h2{
    color: var(--white-color);
    font-weight: 600;
    margin: 0 0 30px;
    font-size: 30px;
}
.login-box label{
    color: #24b8b7;
    font-size: 16px;
}

.login-box input{
    display: block;
    padding: 6px;
    margin-bottom: 20px;
    width: 100%;
}
.login-box input:nth-child(2){
    margin-bottom: 30px;
}
.login-box .login{
    padding: 10px;
    color: #24b8b7;
    background-color: var(--white-color);
    font-weight: 600;
    display: block;
    text-align: center;
}
.login{
    font-size: 18px;
}
.login:hover{
    opacity: 0.7;
}
.login-box i{
    font-size: 18px;
    padding: 0 6px;
}
.forgot{
    text-decoration: underline!important;
    padding:10px 10px 10px 0px;
    display: block;
    color: #24b8b7;
    font-size: 18px;

}
